<ul>
    <!-- <li><a class="active" href="#home">Home</a></li>
    <li><a href="#news">News</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About</a></li> -->
    <li><a class="pro" href="#profile">Profile</a></li>
    <li><button type="submit" class=" mt-2" (click)="removeData()">Logout</button></li>
    <li><i class=" log mt-3 fa-brands fa-apple"></i></li>
</ul>
<div class="sidenav">
    <a href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
</div>